<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>WebApp</servlet-name>
		<servlet-class>com.webapp.view.WebAppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebApp</servlet-name>
		<url-pattern>/webapp</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>TasksView</servlet-name>
		<servlet-class>com.webapp.view.TasksViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TasksView</servlet-name>
		<url-pattern>/tasks</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TaskServlet</servlet-name>
		<servlet-class>com.webapp.api.TaskServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TaskServlet</servlet-name>
		<url-pattern>/api/task</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.webapp.api.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/api/user</url-pattern>
	</servlet-mapping>
	
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>identification.html</welcome-file>
  </welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>